Flask==3.0.3
flask-cors==4.0.1

Werkzeug==3.0.3
XlsxWriter==3.2.0

fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
mysql-connector-python==9.7.0
pandas==2.2.2
numpy==1.26.4
openpyxl==3.1.5
python-dateutil==2.9.0.post0
pytz==2024.1
pytest==8.3.2